.header-block {
  margin-top: 10px;
  background-color: rgb(63, 63, 248);
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
  border-radius: 5px 5px 0px 0px;
}
.content-block {
  border: 1px solid gainsboro;
  height: 60vh;
}
