<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Womens Wear</title>
    <script src="../../js/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <script src="../../bootstrap/jquery-3.4.1.slim.min.js"></script>
    <script src="../../bootstrap/popper.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../fontawesome/all.min.js"></script>
    <link rel="stylesheet" href="../../fontawesome/all.min.css" />
    <link rel="stylesheet" href="../../fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/womens.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div class="container-fluid womens">
      <h2>Women's wear</h2>
      <span class="back"><a href="../pages/user1.html"> < Back to Home</a></span>
    </div>
    <div class="container-fluid womens-wear-block"></div>
    <!-- mens wear -->
    <!-- Footer of the site -->
    <footer class="container-fluid footer">
      <section class="container footer-block">
        <div class="footer-details-block">
          <ul>
            <p>Get to know</p>
            <li><a href="../assets/aboutus.html">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press Releases</a></li>
            <li><a href="#">Amazon Cares</a></li>
            <li><a href="#">Gift a Smile</a></li>
          </ul>
          <ul>
            <p>HELP</p>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Cancellaton & Return</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Report</a></li>
          </ul>
          <ul>
            <p>POLICY</p>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">EPR Compliance</a></li>
          </ul>
          <ul>
            <p>SOCIAL</p>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-youtube-square"></i></a>
            </li>
          </ul>
          <ul>
            <p>Mail Us:</p>
            <li>Dot Store Internet Private Limited</li>
            <li>Buildings Alyssa, Begonia & Clove Embassy Tech Village,</li>
            <li>Outer Ring Road, Devarabeesanahalli Village,</li>
            <li>Benguluru,560103,</li>
            <li>Karnataka,INDIA</li>
          </ul>
          <ul>
            <p>Registered Office Address:</p>
            <li>Dot Store Internet Private Limited</li>
            <li>Buildings Alyssa, Begonia & Clove Embassy Tech Village,</li>
            <li>Outer Ring Road, Devarabeesanahalli Village,</li>
            <li>Benguluru,560103,</li>
            <li>Karnataka,INDIA</li>
            <li>CIN : U51109KA2012PTC066107</li>
            <li>Telephone: 1800 208 9898</li>
          </ul>
        </div>
      </section>
      <div class="cr"><p>&copy; www.dotstore.com</p></div>
    </footer>
    <script src="../../js/womens/womensWear.js"></script>
  </body>
</html>
